.form-control{
    border-radius: 30px;
    padding: 4px;
}
.contain{
    background-image: linear-gradient( white, #8AC33E);
}
.paragraph{
    color: #94C35B;
    font-size: 20px;
    font-weight: 600;
    /* border: 2px solid green; */
}
.line{
    color: #8AC33E;
}
h4{
    color: #B9D98E;
    padding: 10px;
    padding-left: 35px;
    margin-top: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 100px;
  }
  footer{
      padding: 10pxpx;
  }
  .foot{
      color: white;
  }
  .cat{
      border-radius: 8px;
      margin: 30px;
  }
  .nav-element{
      color: white;
  }
  .navbar-container{
        background-color: #88c13e;
        padding: 10px;
     }
     .search{
            border-radius: 30px;
            width: 300px;
     }